
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #52B9A7;
  color: white;
  text-align: center;
  a:link{
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: rgb(129, 20, 255);
  }
  a:visited{
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 719px) {
  .Wrapper {
    font-family: Rubik;
    display: flex;
      flex-direction: column;
      width: 100%;
      .image1{
       
        max-height: 0px;
        max-width: 0px;
        display:none;
      }
  }
}

@media screen and (min-width: 720px) {
  .Wrapper {
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    align-items: row;
    .image1{
      align-items:right;
      justify-content:right;
      max-height:200px;
      max-width:200px;
    }
  }
}
