
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #52B9A7;
  color: white;
  text-align: center;
  a:link{
    color: white;
  }
  a:hover{
    color: rgb(129, 20, 255);
  }
  a:visited{
    color: white;
  }
}
/*
@media screen and (max-width: 719px) {
  .Wrapper {
    font-family: Rubik;
    display: flex;
      flex-direction: column;
      width: 100%;
      .image1{
       
        max-height: 0px;
        max-width: 0px;
        display:none;
      }
  }
}*/

//@media screen and (min-width: 720px) {
  .Wrapper {
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    align-items: row;
    position: relative;
    
  }
//}

.WrapperNav {
  z-index: 999;
}

H3 { text-align: center }

.image1{
  max-height: 250px;
  max-width: 250px;
  margin-left: 77%;
  margin-top: -10%;
}

.togle{
  color: black;
  background-color: #52B9A7;
  display: flex;
  padding: 5px 10px 5px 10px;
  outline: gray;
  margin-left: 20%;

}

.introTxt p{
  display: inline-block;
    vertical-align: top;
    position: relative;
}

@media screen and (max-width: 720px) {

  .image1{
    display: none;
    max-height: 0px;
    max-width: 0px;
  }

}