
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #52B9A7;
  color: white;
  text-align: center;
  a:link{
    color: white;
  }
  a:hover{
    color: rgb(129, 20, 255);
  }
  a:visited{
    color: white;
  }
}
/*
@media screen and (max-width: 719px) {
  .Wrapper {
    font-family: Rubik;
    display: flex;
      flex-direction: column;
      width: 100%;
      .image1{
       
        max-height: 0px;
        max-width: 0px;
        display:none;
      }
  }
}*/

//@media screen and (min-width: 720px) {
  .Wrapper {
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    align-items: row;
    .image1{
      margin-top:-4.3%;
      margin-left:85% ;
      align-items:right;
      justify-content:right;
      max-height:300px;
      max-width:300px;
    }
  }
//}

H3 { text-align: center }

.introImg {
  position: relative;
  top: 0;
  right:0;
}

.introTxt p, i{
  display: inline-block;
    vertical-align: top;
    position: relative;
}

@media screen and (max-width: 720px) {

  .introImg img{
    display: none;
    max-height: 0px;
    max-width: 0px;
  }

}