* {
    margin:0;
    box-sizing: border-box;
}



/*.mapa{
   flex-direction: row;
    justify-content: left;
    align-items: left; 
    display: flex;
}



.hexagon {
    max-height: 120px;
    max-width: 120px;
    
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.hexagonTitle {
    margin-left:4%;
}

.textHexagon p{
    font-family:arial;
    color: white;
    font-size: 0.6em;
    margin-top:-46%;
    text-align:center;
    font-weight: bold;
}

.hexagonWrapper {
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

.hexagonWrapper ul {
    list-style-type: none;
} */