.mapa{
    margin-top:-20%;
}

.hexagon {
    max-height: 100px;
    max-width: 100px;
    
    
}

.hexagonTitle {
    margin-left:4%;
}

.textHexagon p{
    font-family:arial;
    color: white;
    font-size: 0.6em;
    margin-top:-46%;
    text-align:center;
    font-weight: bold;
}

.hexagonWrapper {
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left:1%;

}

.hexagonWrapper ul {
    list-style-type: none;
}