#login-container {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
      flex: 8;

      background: #A8E3DA;
      color: #fff;

      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 120px 80px;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        h1 {
          font-family: Rubik;
          font-style: normal;
          font-weight: 00;
          font-size: 41.1429px;
          line-height: 49px;
  
          color: #3A4151;
          margin-left: 9px;
        }
      }

      p {
          font-size: 24px;
          line-height: 32px;
          font-weight: 500;
          margin-top: 16px;
          color: #3A4151;
          text-align: center;
          width: 450px;
          align-self: center;
      }

  }

  main{
      flex: 7;
      flex-direction: column;
      padding: 0 32px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #F7F7F7;
      color: #3A4151;

      h2 {
        font-family: Rubik;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
        padding-bottom: 9px;

      }

      p {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.1em;

      }
      // form
      .css-x0qqll{
        margin-top: 30px;
        margin-bottom: 9px;
        // input
      }

      .css-4302v8 input {
        // color: #535461;
        width: 403px;
        height: 56px; 
        background: rgba(58, 65, 81, 0.1);
      }

      input[type="email"]::placeholder, input[type="password"]::placeholder {
        position: relative;
        top: -10px;
        color: #535461;
        visibility: inherit;
      }
      
      .login-btn {
        display: flex;
        justify-content: center;
        button {
  
          background: #52B9A7;
          color: #fff;
          
          border-radius: 10px;
          width: 120px;
          font-family: Rubik;
          font-weight: bold;
          text-transform: uppercase;
          border: none;
        }

      }

  }
}